<script lang="ts">
  import type { PageData, ActionData } from './$types';
  import * as Automerge from '@automerge/automerge'
  
  interface Doc {
    str: string
    list: string[]
    object: any
    nested: any
  }

  export let data: PageData;
  export let form: ActionData;

  let doc = Automerge.init<Doc>()
  let id:string;
  let newItem:string = "";
  
  let initialDocLoaded = false
  let savedHeads:string[];
  let initialDoc:Doc;

  $: {
    if(data.file && !initialDocLoaded) {
      initialDocLoaded = true
      console.log('Loading')

      id = data.file.id
      const binary = localStorage.getItem(id)
      if(binary) {
        //@ts-ignore
        doc = Automerge.load(binary.split(','))
        initialDoc = doc
        savedHeads = Automerge.getHeads(doc)
      }
      else {
        doc = Automerge.change(doc, (d) => {
          d.str = 'Something';
          //@ts-ignore
          d.list = new Array('Initial Value');
          d.object = {
            a: 1,
            b: 2
          }
          d.nested = {
            obj1: {
              a: 1,
              b: 2
            },
            dict: {
              term: "desc"
            }
          }
        })
      }
    }
  }

  $: {
    console.log(doc)
    //console.log(Automerge.getHeads(doc))
  }

  const addItem = () => {
    if(newItem && newItem.length > 0) {
      //console.log(newItem)
      
      doc = Automerge.change( doc, (d) => {
        d.list.push(newItem)
      })

      newItem = ""
      console.log(doc)

      //localStorage.setItem(id, `${Automerge.save(doc)}`)
    }
  }

  const changeStr = ( event: { currentTarget: HTMLTextAreaElement & EventTarget } ) => {
    //doc.str = event.currentTarget ? event.currentTarget.value : ''
    doc = Automerge.change( doc, (d:Doc) => {
      d.str = event.currentTarget ? event.currentTarget.value : ''
    })
    //localStorage.setItem(id, `${Automerge.save(doc)}`)
  }

  const fixedDoc:Doc = {
    str: 'SOME STRING',
    list: ['ONE ENTRY'],
    object: {
      a: 2,
      b: 3,
      c: 4
    },
    nested: {
      obj1: {
        a: 1,
        b: 2
      },
      dict: {
        term: "desc"
      }
    } 
  }

  const setToValue = () => {
    doc = Automerge.change( doc, (d:Doc) => {
      d.str = fixedDoc.str
      d.list = fixedDoc.list
      d.object = fixedDoc.object
    })

   // localStorage.setItem(id, `${Automerge.save(doc)}`)
  }

  let objKey = ""
  let objVal = ""
  const addToObject = () => {
    doc = Automerge.change( doc, (d:Doc) => {
      d.object[objKey] = objVal
    })

    objKey = ""
    objVal = ""
  }
  const addToNested = () => {
    doc = Automerge.change( doc, (d:Doc) => {
      //console.log(d.objec)
      d.nested.dict[objKey] = objVal
    })

    objKey = ""
    objVal = ""
  }

  const save = () => {
     localStorage.setItem(id, `${Automerge.save(doc)}`)
     savedHeads = Automerge.getHeads(doc)
     initialDoc = doc
  }

  $: changes = (!!initialDoc && !!doc) ? Automerge.getChanges(initialDoc, doc) : []

  //$: {
    //console.log('Saved Heads:', savedHeads)
    //console.log('Changes:', changes)
  //}

  const back = ( hash: string ) => {
    return () => {
      console.log('Hash', hash)
      const hist = Automerge.getHistory(doc)
      console.log('History', hist)

      const targetState = hist.find( (h) => {
        console.log(h.change.hash, hash, h.change.hash === hash)
        return h.change.hash === hash
      } )
      console.log("Target found:", targetState?.snapshot)

      if(targetState?.snapshot) {
        doc = Automerge.change(doc, (d:Doc) => {
          d.str = targetState?.snapshot.str
          d.list = [...targetState?.snapshot.list]
        }) 
      }
      console.log('updated doc', doc)
    }
  }

</script>

<div class="wrapper">
  {#if form?.status === 'success'}
  <div>Sent to server</div>
  {/if}

  <form action="?/upload" method="POST">
    <input type="hidden" name="config" value={JSON.stringify(doc)}/>
    <input type="hidden" name="id" value={id}/>
    <button type="submit">Upload</button>
  </form>

  <div class="file-content">
    <div>
      {JSON.stringify(doc, null, 2)}
    </div>

    <textarea name="str" on:input={changeStr} value={doc.str} />

    <div>
      <input type="text" bind:value={objKey}>
      <input type="text" bind:value={objVal}>
      <button on:click={addToObject}>Add</button>
      <button on:click={addToNested}>AddNested</button>
    </div>

    {#if doc.list}
    <ul>
      {#each doc.list as l} 
      <li>{l}</li>
      {/each}
    </ul>
    {/if}
    <input type="text" name="new-item" bind:value={newItem}>
    <button on:click={addItem}>ADD</button>

  </div>

  <button on:click={setToValue}>SET TO VALUE</button>
  <button on:click={save}>SAVE</button>

  <div class="history">
  {#each changes as c, i}
    Change {i}:<br>
    {@const change = Automerge.decodeChange(c)}
    {JSON.stringify( change )}
    <button on:click={back(change.hash)}>GOBACKTO</button>
    <br>
  {/each}
  </div>


  <div class="history">
    {#each Automerge.getHistory(doc) as hist}
    {JSON.stringify(hist)}<br><br>
    {/each}
  </div>

</div>

<style>
  .file-content {
    display: flex;
    flex-direction: column;
  }

  .history {
    padding: 4rem;
    overflow: hidden;
  }

  .wrapper {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }

</style>
